.box{
    text-align: center;
    font-weight: lighter;
}

.colored-bk{
    background: rgb(109,210,253);
    background: linear-gradient(90deg, rgba(76, 176, 219,1) 35%, rgba(193,128,255,1) 100%);
    height: 200px;
}

.header{
    width: 100%;
    background-color: rgba(255,255,255,0.3);
}

.grid-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    color: white;   
}

.grid-center{
    text-align: center;
    font-size: 2.5vw;
    letter-spacing: 1%;
}

.grid-center p{
    margin-top:3%;
}

.grid-home > table{
    float: left;
    margin-top: 4%;
    margin-left: 5%;
    font-size: 2vw;
    border-spacing: 10px;
}

.material-icons{
    color: white;
    font-size: 2.5vw;
}

.container{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -6%;
    width: 50%;
    background-color: white;
}

.tab-preview{
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-spacing: 5px;
    border-bottom: 2px  rgba(193,128,255,1) solid;
    padding-bottom:2%;
    padding-top: 2%;
}


.img{
    width: 200px;
    height: 200px;
    border: 10px lightgrey solid;
}

#int{
    text-align: right;
    width: 50%;
}

#data{
    text-align: left;
    font-weight: bold;
    width: 50%;
}

.btn-prosegui{
    float: right;
    width: 45%;
    padding:10px;
    font-weight:bold;
    border: 2px rgba(193,128,255,1) solid;
    border-radius: 5px;
    background-color: rgba(193,128,255,1);
    color: white;
    margin-top: 2%;
}