<div class="box">
    <div class="colored-bk">
        <div class="header">
            <div class="grid-container">            

                <div class="grid-home">
                    <table>
                        <tr routerLink="/home">
                            <td class="material-icons">
                                home
                            </td>
                            <td>Home</td>
                        </tr>
                    </table>
                </div>

                <div class="grid-center"><p class="welcome-title"><b id="bold">Personalizza</b> il tuo prodotto</p></div>
                    
                <div class="grid-right">
                    <div class="grid-shop">
                        <table>
                            <tr>
                                <td class="material-icons">
                                    shopping_cart
                                </td>
                                <td routerLink="/cart">Carrello</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <router-outlet></router-outlet>

</div>



